ul[data-v-fbdf8123]{list-style:none;padding:0}a[data-v-fbdf8123]{border:1px solid #ccc;border-radius:8px;color:inherit;display:block;margin-bottom:1rem;padding:1rem;text-decoration:none}a[data-v-fbdf8123]:hover{background-color:#f0f0f0}
