ul[data-v-5e9148bd]{list-style:none;padding:0}a[data-v-5e9148bd]{border:1px solid #ccc;border-radius:8px;color:inherit;display:block;margin-bottom:1rem;padding:1rem;text-decoration:none}a[data-v-5e9148bd]:hover{background-color:#f0f0f0}
